<html>
  <head>
    <title>{% if title %}{{ title }} - {% endif %}Laundromat</title>
    <link
      href="{{ url_for('static', filename='minireset.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='site.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h1><a href="/">Laundromat &#x1F9FA;</a></h1>
      {% if context.google_creds %}
      <ul>
        <li>
          <a href="https://docs.google.com/spreadsheets/u/0/" target="_new"
            >Your Google Sheets</a
          >
        </li>
        {% if context.github_creds %}
        <li>
          <a href="https://github.com" target="_new">Your Github homepage</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
