{% extends "base.html" %} {% block app_content %}
<h1>{{ title }}</h1>
<p>{{ instruction }}</p>
<p>{{ description }}</p>

<div class="row">
  <div class="center-align">
    <div class="btn-group-vertical" role="group">
      {% for item in data %} {% set name = item[name_field] or item.name %}
      <a
        href="/?{{ choice_var }}={{ item.id }}&n={{ name }}"
        class="btn btn-default left-align"
        >{{ name }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
