{% extends "base.html" %} 
{% block app_content %}
    <h1>Configure your spreadsheet</h1>
    <p>How to setup your sheet to do this directly. If you just want to sync manually now just hit the button at the bottom of this page</p>
    <p>Make sure it's been configured - check for a worksheet called Laundromat, with...</p>
    <p>Tools > Script Editor</p>
    <p>paste in the following:</p>
    <pre></pre>
    <p>Publish > Deploy as Sheets Add-on</p>
    <p>Use from Tools > xxx</p>
{% endblock %}
